<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	{% extends 'base.html' %}
	{% block title %} Looggiinn {% endblock %}
	{% block content %}
	<div style="text-align: center;">
		<h3>default auth login</h3>
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
			<button type="submit">enter</button>
			</form>
			<br>
			<a href="{% url 'signup' %}">create new account</a>
			<br>
			<a href="{% url 'password_reset' %}">forgot pwd</a>
	</div>
	{% endblock %}
</body>
<style>

</style>
<script>

</script>
</html>