{% extends 'base.html' %}

{% block title %} Your Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<div style="text-align: center;">
		Hello, {{ user.username }}! You are in :)
		<p><a href="{% url 'logout' %}">logout</a></p>
		<p><a href="{% url 'password_reset' %}">reset pwd</a></p>
	</div>
{% else %}
	<div style="text-align: center;">
		<p>You are not logged in :(</p>
		<a href="{% url 'login' %}">goto login</a>
		<br><br>
		<a href="{% url 'signup' %}">new account</a>
	</div>
{% endif %}
{% endblock %}