<h2>Uploaded 40 Exams Scanned Answer Sheet | To <a href="{% url 'add_exam40' %}">Create New Exams</a></h2>
<h2>To <a href="{% url 'processed40' %}">Send Feedback 40</a></h2>
<h2><a href="{% url 'home' %}">Go to Home</a></h2>

	{% for post in object_list %}
	<h3>{{ post.title }}</h3>
	  <img src="{{ post.cover.url }}" alt="{{ post.title }}" style="max-height: 256px; max-width: 256px">
<a href="{% url 'process_images' exam_name=post.title %}">
    <input class="favorite styled" type="button" value=Process{{ post.title }}>
</a>

	{% endfor %}
    <hr><br>
<a href="{% url 'process_all_exams'%}">
    <input class="favorite styled" type="button" value="Process All Exams">
</a>
